<div class="row">
<!-- MAIN PANEL -->
    <div class="large-2 columns" id="menu">
        <%= render :partial => 'main/my_options' %>
    </div>
<!-- RIGHT PANEL -->
    <div class="large-10 columns" id="board">
        <%= render :partial => 'main/my_notices' %>
    </div>
</div>
