<div class="row">
<!-- MAIN PANEL -->
    <div class="large-10 columns">
        <%= render :partial => 'main/welcome' %>
    </div>
<!-- RIGHT PANEL -->
    <div class="large-2 columns">
        <%= render :partial => 'main/pricing' %>
    </div>
</div>
