<ul class="side-nav">
<% current_user.courses.each do |course| %>
<li><%= link_to course.name, {:action => 'revision', :controller => 'courses', :remote => true, :id => encrypt(course.id)} %></li>
<% end %>
<li class="divider"/>
<li><a href="#">Profile</a></li>
<li><a href="#">Courses</a></li>
<li class="divider"/>
<li><a href="#">Sign out</a></li>

</ul>
