<ul class="side-nav">
<li><%= link_to 'Economics', {:action => 'revision', :controller => 'courses', :remote => true} %></li>
<li><%= link_to 'Maths', {:action => 'revision', :controller => 'courses', :remote => true} %></li>
<li class="divider"/>
<li><a href="#">Profile</a></li>
<li><a href="#">Courses</a></li>
<li class="divider"/>
<li><a href="#">Sign out</a></li>

</ul>