<ul class="pricing-table">
  <li class="title">1 Months access</li>
  <li class="price">R29.00</li>
  <li class="description">Access to course questions</li>
  <li class="cta-button"><a class="button small radius" href="#">Sign up</a></li>
</ul>
