<div class="row">
  <div class="small-3 small-centered columns">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Email</span>
      </div>
      <div class="small-8 columns">
        <input type="text"/>
      </div>
    </div>
    <div style="clear:both;"/>  
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Password</span>
      </div>
      <div class="small-8 columns">
        <input type="password"/>
      </div>
    </div>
    <div style="clear:both;"/>  
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Confirm</span>
      </div>
      <div class="small-8 columns">
        <input type="password"/>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Cell</span>
        <small><font color=red>(required to subscribe)</font></small>
      </div>
      <div class="small-8 columns">
        <input type="text"/>
      </div>
    </div>
    <div style="clear:both;"/>
      <div class="row collapse">
        <a class="button small radius right" href="#">Sign up</a>
      </div>
    </div>    
  </div>
</div>