<div class="row">
  <div class="small-3 small-centered columns">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Email</span>
      </div>
      <div class="small-8 columns">
        <input type="text"/>
      </div>
    </div>
    <div style="clear:both;"/>  
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Password</span>
      </div>
      <div class="small-8 columns">
        <input type="password"/>
      </div>
    </div>
    <div style="clear:both;"/>
      <div class="row collapse">
        <%= link_to 'Sign in', {:action => 'process_signin', :controller => 'main'}, :class => 'button small success radius right' %>
      </div>
    </div>    
  </div>
</div>