<div class="large-3 columns">
    <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Email</span>
    </div>
    <div class="small-8 columns">
      <input type="text"/>
    </div>
    </div>
</div>
<div style="clear:both;"/>
<div class="large-3 columns">
    <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Password</span>
    </div>
    <div class="small-8 columns">
      <input type="text"/>
    </div>
    </div>
</div>
<div style="clear:both;"/>
    <div class="row collapse">
            <a class="button small success radius" href="#">Sign in</a>
    </div>
</div>

