<h4><%= course.name %></h4>
<p><%= course.description %></p>
<p>Course progress :
<div class="progress large-8 success radius"><span class="meter" style="width:25%;"></span></div>
</p>
<a class="button small radius left" href="#">Continue</a>

